@import './css/regionSelector.css';
@import './css/datePicker.css';
@import './css/multiSelector.css';

.selector-text {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}