
.breadcrumb-item + .breadcrumb-item::before {
  padding-right: 0.7rem;
  padding-left: 0.1rem;
}
.trip-breadcrumb {
 
  color: var(--trip-color-gray-800);
  
}

.trip-breadcrumb a {
  color: var(--trip-color-gray-800);
 text-decoration: none;
}



