/* 熱門開團 start*/
.hotTripSection {
  height: 972px;
  background: var(--trip-color-primary-100) url('assets/images/mapBg.png') no-repeat center center;
  padding-top: 84px;
  h2{
    text-align: center;
  }
  .col-6{
    background: #fff;
  }
}
  @media (max-width: 1024px) {
    .hotTripSection {
      height: auto;
      background: var(--trip-color-primary-100) url('assets/images/mapBg.png') no-repeat center center;
      padding-bottom: 40px;
      padding-top: 100px;
    }
  }
.tripRow{
  border-radius: 16px;
  padding: 40px 28px;
  .h4{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
  }
}
.tripImg{
  width: 100px;
  height: 100px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
}
.lastSeat{
  background-color: #FFF2E0;
  color: #E78F0C;
  border-radius: 4px;
  font-weight: 500;
}
.more-btn{
  margin-top: 48px;
  margin-bottom: 100px;
}
/* 熱門開團 end*/