.login-page-container {
  background-color: var(--trip-color-primary-100);
  padding: 40px;
}

.login-card {
  width: 100%;
  max-width: 1000px;
  min-height: 600px;
  border-radius: 30px;
}

.login-visual {
  flex: 1;
  background:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)),
    url("https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?auto=format&fit=crop&w=800&q=80");
  background-size: cover;
  background-position: center;
}

.login-form-section {
  width: 100%;
  max-width: 450px;
  background: var(--trip-color-white);
}

/* 讓 input 更精緻 */
.form-control {
  border-radius: 12px;
  border: 1px solid var(--trip-color-gray-100);
  padding: 0.75rem 1rem;
}

.form-control:focus {
  box-shadow: 0 0 0 4px var(--trip-color-primary-800); /* 你的品牌橘色 */
  border-color: var(--trip-color-primary-800);
}

@media (max-width: 991px) {
  .login-card {
    max-width: 500px;
  }
  .login-form-section {
    max-width: 100%;
  }
}
