.navbar {
  padding: 20px 0;
  background-color: var(--trip-color-white);
}

.navbar-collapse {
  flex-grow: 1;
  display: flex;
}

.trip-nav-inner {
  max-width: 1296px;
  padding: 0 12px;
  display: flex;
  align-items: center;
}

.trip-menu {
  gap: 32px;
  align-items: center;
  list-style: none;
  margin: 0;
}

.navbar-toggler {
  border: none;
  box-shadow: noneCSS;
}
.navbar-toggler:focus,
.navbar-toggler:active {
  box-shadow: none;
  outline: none;
}

@media (max-width: 768px) {
  .navbar {
    padding: 20px 16px;
    min-height: 64px;
  }
  .navbar-brand img {
    content: url("../images/smail-logo.svg");
    width: 41px;
  }

  .navbar-btn {
    width: 100%;
  }

  .navbar-collapse {
    align-items: center;
    flex-direction: column;
    align-items: stretch;
  }

  .navbar-nav {
    align-items: center;
    text-align: center;
    flex-direction: column;

    gap: 16px;
    margin-bottom: 24px;
  }

  .navbar-nav .nav-item {
    width: 100%;
  }

  .navbar-nav .nav-link {
    width: 100%;
    padding: 8px 0;
    align-items: center;
  }
}
