.searchSection {
    background-color: var(--trip-color-primary-200);
    padding-block: 120px;

    .search-container {
        background-color: #FFFFFF;
        padding: 80px 120px 40px 120px;
        border-radius: 40px;
        max-width: 1296px;

        .searchBar {
            height: 64px;
            border: 1px solid var(--trip-color-gray-200);
            border-radius: 100px;
            overflow: hidden;
            margin-top: 40px;

            .selector-box {
                width: 200px;

                .form-select:focus {
                    box-shadow: none !important;
                }
            }

            input:focus-visible {
                outline: none;
            }

            .searchBtn-box {
                width: 64px;
                height: 64px;

                .searchBtn:active {
                    transform: translate(2px, 2px)
                }
            }
        }

        .image-box {
            max-height: 280px;
            margin-top: 120px;
        }
    }

}

/* * {
    outline: 1px solid black
} */