@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');

body{
  font-family: var(--trip-font-family); 
  font-weight: var(--trip-font-weight-bold); 
  line-height: var(--trip-line-height-tight); 
  font-size: var(--trip-font-text-l-size); 
  letter-spacing: var(--trip-letter-spacing-10);
  color: var(--trip-color-gray-800);
}

/* Footer */
.footer {
  height: 400px; /* 規劃用 */
  background-color: var(--color-gray-white);
  text-align: center;
}

/* Home */
.main {
  max-width: 1296px;
}
.heroSection {
  /* height: 400px; */
  background-color: var(--trip-color-white);
  background-image:
    url("./../images/big-cloud.svg"), url("./../images/small-cloud.svg");
  background-repeat: no-repeat, no-repeat;
  background-position:
    right 50px top 50px,
    left 150px top 100px;
  transform: scaleX(1), scaleX(-1);
  position: relative;
  .main {
    height: 300px;
    padding: 0 110px;
    justify-content: center;
    align-items: center;
  }
  .slogan {
    width: 577px;
    height: 100px;
    margin: 44px 72px 44px 0;
  }
}
.big-cloud1 {
  background-color: var(--trip-color-white);
  background-image: url("./../images/big-cloud.svg");
  background-size: cover;
  transform: scaleX(-1);
  position: absolute;
  width: 150px;
  height: 100px;
  top: 50px;
  right: 50px;
}



/* 旅遊心得 start*/
.thoughtsSection {
  height: auto;
  background-color: var(--trip-color-gray-100);
  padding: 100px 0;
}
/* 旅遊心得 end*/

.reviewsSection {
  height: 400px; /* 規劃用 */
  background-color: var(--trip-color-gray-400);
}

/* Balloon-Bear */
.bear {
  position: fixed;
  z-index: 999;
  top: 45%;
  left: 10px;
  animation: bearMove 3s infinite alternate;
  img {
    width: 100px;
  }
}
@keyframes bearMove {
  0% {
    transform: translateX(0);
    transform: translateY(0);
  }
  50% {
    transform: translateX(20px);
    transform: translateY(20px);
  }
  100% {
    transform: translateX(0);
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .bear {
    position: fixed;
    z-index: 999;
    top: 75%;
    left: 10px;
  }
}
