.card{
  border-radius: 16px;
}
.card-img-top{
  border-radius: 12px;
  height: 200px;
  object-fit: cover;
}
.card-body{
  img{
    width: 32px;
    height: 32px;
    object-fit: cover;
  }
}
.card-text{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
}
.bi{
  font-weight: bold;
}
.swiper-button-prev-custom, .swiper-button-next-custom {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 44px;
  height: 44px;
  background-color: #FFB74C;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  cursor: pointer;
}
.swiper-button-prev-custom { left: -10px; }
.swiper-button-next-custom { right: -10px; }