@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');
body{
  font-family: var(--trip-font-family); 
  font-weight: var(--trip-font-weight-bold); 
  line-height: var(--trip-line-height-tight); 
  font-size: var(--trip-font-text-l-size); 
  letter-spacing: var(--trip-letter-spacing-10);
}

/* Navber */
.navbar {
  background-color: var(--trip-color-status-success);
}
/* Footer */
.footer {
  height: 400px; /* 規劃用 */
  background-color: var(--color-gray-white);
  text-align: center;
}

/* Home */
.main{
  max-width: 1296px;
}
.heroSection {
  /* height: 400px; */
  background-color: var(--trip-color-white);
  background-image: url('assets/big-cloud.svg'), url('assets/small-cloud.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: right 50px top 50px, left 150px top 100px;
  transform: scaleX(1), scaleX(-1);
  position: relative;
  .main{
    height: 300px;
    padding: 0 110px;
    justify-content:center;
    align-items: center;
  }
  .slogan{
    width: 577px;
    height: 100px;
    margin: 44px 72px 44px 0;
  }
}
.big-cloud1 {
  background-color: var(--trip-color-white);
  background-image: url('assets/big-cloud.svg');
  background-size: cover;
  transform: scaleX(-1);
  position: absolute;
  width: 150px;
  height: 100px;
  top: 50px;
  right: 50px;
}

.searchSection {
  height: 300px; /* 規劃用 */
  background-color: var(--trip-color-primary-200);
}
.introSection {
  height: 400px; /* 規劃用 */
  background-color: var();
}
.hotTripSection {
  height: 400px; /* 規劃用 */
  background-color: var(--trip-color-primary-600);
}
.thoughtsSection {
  height: 400px; /* 規劃用 */
  background-color: var();
}
.reviewsSection {
  height: 400px; /* 規劃用 */
  background-color: var(--trip-color-gray-400);
}

