@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');
body{
  font-family: var(--trip-font-family); 
  font-weight: var(--trip-font-weight-bold); 
  line-height: var(--trip-line-height-tight); 
  font-size: var(--trip-font-text-l-size); 
  letter-spacing: var(--trip-letter-spacing-10);
  color: var(--trip-color-gray-800);
}

/* Navber */
.navbar {
  background-color: var(--trip-color-status-success);
}
/* Footer */
.footer {
  height: 400px; /* 規劃用 */
  background-color: var(--color-gray-white);
  text-align: center;
}

/* Home */
.main{
  max-width: 1296px;
}
.heroSection {
  /* height: 400px; */
  background-color: var(--trip-color-white);
  background-image: url('assets/big-cloud.svg'), url('assets/small-cloud.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: right 50px top 50px, left 150px top 100px;
  transform: scaleX(1), scaleX(-1);
  position: relative;
  .main{
    height: 300px;
    padding: 0 110px;
    justify-content:center;
    align-items: center;
  }
  .slogan{
    width: 577px;
    height: 100px;
    margin: 44px 72px 44px 0;
  }
}
.big-cloud1 {
  background-color: var(--trip-color-white);
  background-image: url('assets/big-cloud.svg');
  background-size: cover;
  transform: scaleX(-1);
  position: absolute;
  width: 150px;
  height: 100px;
  top: 50px;
  right: 50px;
}

.searchSection {
  height: 300px; /* 規劃用 */
  background-color: var(--trip-color-primary-200);
}
.introSection {
  height: 400px; /* 規劃用 */
  background-color: var();
}
/* 熱門開團 start*/
.hotTripSection {
  height: 972px;
  background: var(--trip-color-primary-100) url('assets/mapBg.png') no-repeat center center;
  padding-top: 84px;
  h2{
    text-align: center;
  }
  .col-6{
    background: #fff;
  }
}
  @media (max-width: 1024px) {
    .hotTripSection {
      height: auto;
      background: var(--trip-color-primary-100) url('assets/mapBg.png') no-repeat center center;
      padding-bottom: 40px;
      padding-top: 100px;
    }
  }
.tripRow{
  border-radius: 16px;
  padding: 40px 28px;
  .h4{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
  }
}
.tripImg{
  width: 100px;
  height: 100px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
}
.lastSeat{
  background-color: #FFF2E0;
  color: #E78F0C;
  border-radius: 4px;
  font-weight: 500;
}
.more-btn{
  margin-top: 48px;
  margin-bottom: 100px;
}
/* 熱門開團 end*/

/* 旅遊心得 start*/
.thoughtsSection {
  height: auto;
  background-color: var(--trip-color-gray-100);
  padding: 100px 0;
}
/* 旅遊心得 end*/

.reviewsSection {
  height: 400px; /* 規劃用 */
  background-color: var(--trip-color-gray-400);
}


























/* Balloon-Bear */
.bear{
  position: fixed;
  z-index: 999;
  top: 45%;
  left: 10px;
  animation: bearMove 3s infinite alternate;
  img{
    width: 100px;
  }
}
@keyframes bearMove {
  0% {
    transform: translateX(0);
    transform: translateY(0);
  }
  50% {
    transform: translateX(20px);
    transform: translateY(20px);
  }
  100% {
    transform: translateX(0);
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .bear{
    position: fixed;
    z-index: 999;
    top: 75%;
    left: 10px;
  }
}